# Case Study - Customer Point Rewards

## Studi Kasus

Selamat! Anda telah diterima bekerja sebagai data scientist di sebuah toko online `xyz.com` yang menjual produk rumah tangga mulai dari fashion, alat kebersihan, perabot, hingga furnitur.

Ini adalah hari pertama anda, dan anda telah menyelesaikan training Python.
Sebagai tugas pertama anda, VP of Data `xyz.com` meminta anda untuk membantu tim marketing.

Dalam rangka meningkatkan jumlah pembeli yang bertransaksi online, tim marketing mencoba melakukan eksperimen dengan memberikan bonus poin kepada pembeli berdasarkan total transaksi yang mereka lakukan.
Poin ini kemudian bisa ditukarkan dengan hadiah berupa barang atau uang tunai, setelah mencapai nilai tertentu.

**Berikut adalah aturan main pemberian bonus poin kepada pembeli**

Setiap transaksi yang bernilai di atas 100.000 rupiah, akan mendapatkan 1 poin dan berlaku kelipatan.
Sedangkan transaksi di bawah 100.000 rupiah tidak akan mendapatkan poin.

Contoh:

- Tranaksi senilai 75.000 rupiah tidak akan mendapatkan poin.
- Transaksi senilai 150.000 rupiah akan mendapatkan 1 poin.
- Transaksi senilai 290.000 rupiah akan mendapatkan 2 poin.
dan seterusnya.

**Tugas anda sederhana, anda diminta untuk membuat sebuah fungsi yang bisa menghitung berapa jumlah poin yang harus diberikan kepada pembeli, jika diketahui nilai transaksi yang dilakukan**

Anda kemudian diberikan data transaksi di bawah ini.
Data transaksi disimpan dalam bentuk list dua dimensi (list of lists).

Kita sebut saja ini sebagai tabel transaksi pembelian.

- Setiap baris merepresentasikan satu transaksi oleh satu pembeli.
- Kolom pertama merepresentasikan ID transaksi.
- Kolom ke-2 merepresentasikan nilai transaksi.
- Kolom ke-3 merepresentasikan jumlah barang yang dibeli.
- Sedangkan kolom ke-4 merepresentasikan jumlah poin yang akan diberikan untuk transaksi tersebut.

Jumlah poin untuk semua transaksi pada awalnya masih bernilai 0 karena belum dihitung.

In [5]:
transactions = [
    [0, 282000, 3, 0],
    [1, 125000, 1, 0],
    [2, 374000, 2, 0],
    [3, 156000, 1, 0],
    [4, 174000, 2, 0],
    [5, 131000, 1, 0],
    [6, 178000, 3, 0],
    [7, 119000, 1, 0],
    [8, 117000, 1, 0],
    [9, 286000, 2, 0],
    [10, 335000, 2, 0],
    [11, 295000, 3, 0],
    [12, 194000, 3, 0],
    [13, 278000, 1, 0],
    [14, 316000, 2, 0],
    [15, 120000, 1, 0],
    [16, 171000, 2, 0],
    [17, 358000, 1, 0],
    [18, 183000, 1, 0],
    [19, 78000, 1, 0]]

Lengkapilah script di bawah ini untuk menghitung poin di masing - masing transaksi.

In [6]:
# looping untuk setiap transaksi t
# di tabel transactions
for t in transactions:
    # lakukan perhitungan di sini
    # hint: t[0] untuk mengakses kolom pertama
    point = t[1] // 100000
    t[3] = point
    #pass

display(transactions)

[[0, 282000, 3, 2],
 [1, 125000, 1, 1],
 [2, 374000, 2, 3],
 [3, 156000, 1, 1],
 [4, 174000, 2, 1],
 [5, 131000, 1, 1],
 [6, 178000, 3, 1],
 [7, 119000, 1, 1],
 [8, 117000, 1, 1],
 [9, 286000, 2, 2],
 [10, 335000, 2, 3],
 [11, 295000, 3, 2],
 [12, 194000, 3, 1],
 [13, 278000, 1, 2],
 [14, 316000, 2, 3],
 [15, 120000, 1, 1],
 [16, 171000, 2, 1],
 [17, 358000, 1, 3],
 [18, 183000, 1, 1],
 [19, 78000, 1, 0]]

Good job!!
Anda telah menyelesaikan tugas pertama anda.

Setelah tim marketing melakukan evaluasi, mereka melihat bahwa skema poin ini masih bisa ditingkatkan untuk menarik lebih banyak pembeli. Head of Marketing `xyz.com` kemudian memutuskan untuk memberikan ekstra insentif kepada pembeli sebanyak 2x poin (2 x poin dengan aturan sebelumnya) jika mereka membeli minimal 3 produk.

Untuk itu, anda perlu memodifikasi script yang sudah anda tulis sebelumnya.
Perhitungan poin kini tidak berdasar hanya dari nilai transaksi, tetapi juga jumlah barang yang dibeli.

In [7]:
for row in transactions:
    
    if row[2] >= 3:
        row[3] = 2 * row[3]
    
    pass
        

display(transactions)

[[0, 282000, 3, 4],
 [1, 125000, 1, 1],
 [2, 374000, 2, 3],
 [3, 156000, 1, 1],
 [4, 174000, 2, 1],
 [5, 131000, 1, 1],
 [6, 178000, 3, 2],
 [7, 119000, 1, 1],
 [8, 117000, 1, 1],
 [9, 286000, 2, 2],
 [10, 335000, 2, 3],
 [11, 295000, 3, 4],
 [12, 194000, 3, 2],
 [13, 278000, 1, 2],
 [14, 316000, 2, 3],
 [15, 120000, 1, 1],
 [16, 171000, 2, 1],
 [17, 358000, 1, 3],
 [18, 183000, 1, 1],
 [19, 78000, 1, 0]]

Great job!!
Tim marketing senang dengan pekerjaan Anda karena kelihatannya proyeknya sukses.
Program ini akan diuji coba selama satu bulan dan akan dilihat dampaknya terhadap perusahaan.

Sambil menunggu eksperimen tersebut berjalan, Anda dihubungi tim bisnis analis untuk membantu menyusun laporan yang akan dipresentasikan kepada CEO perusahaan.

Anda dimintai tolong untuk menyajikan data sebagai berikut:

1) Data transaksi terurut mulai dari nilai tertinggi hingga terendah

In [10]:
# tuliskan script anda di sini
def sortTransac(val): 
    return val[1]

transactions.sort(key = sortTransac, reverse = True) 
display(transactions)

[[2, 374000, 2, 3],
 [17, 358000, 1, 3],
 [10, 335000, 2, 3],
 [14, 316000, 2, 3],
 [11, 295000, 3, 4],
 [9, 286000, 2, 2],
 [0, 282000, 3, 4],
 [13, 278000, 1, 2],
 [12, 194000, 3, 2],
 [18, 183000, 1, 1],
 [6, 178000, 3, 2],
 [4, 174000, 2, 1],
 [16, 171000, 2, 1],
 [3, 156000, 1, 1],
 [5, 131000, 1, 1],
 [1, 125000, 1, 1],
 [15, 120000, 1, 1],
 [7, 119000, 1, 1],
 [8, 117000, 1, 1],
 [19, 78000, 1, 0]]

2) Rata - rata, median, dan standar deviasi dari seluruh nilai transaksi.

In [ ]:
# tuliskan script anda di sini

3) Keuntungan per-transaksi, dan total keuntungan

Diketahui harga kulakan untuk tiap produk kurang lebih 50% dari harga jual kembali produk tersebut.

In [ ]:
# tuliskan script anda di sini

4) Average Basket items: Rata - rata jumlah produk yang dibeli per-transaksi.

In [ ]:
# tuliskan script anda di sini

5) Total nilai poin yang telah diberikan kepada pelanggan, jika 1 poin bernilai 5000 rupiah. Dan total keuntungan bersih setelah dikurangi nilai poin tersebut.

In [ ]:
# tuliskan script anda di sini