In [ ]:
import matplotlib.pyplot as plt

# Case Study - Data Visualization

**Let's get some real work done**


Baru saja Anda telah menyelesaikan materi tutorial tentang Data Visualization.
Sekarang saatnya anda memanfaatkannya untuk menyelesaikan tugas yang diberikan kepada anda.


Anda masih bekerja bersama dengan tim bisnis analis.
Head of Business Analyst meminta anda untuk menyajikan laporan perolehan revenue dan profit untuk tiap kategori produk selama satu minggu terakhir dalam bentuk grafik.

Untuk dapat menyelesaikan tugas tersebut, pertama anda meminta akses database kepada orang system administrator.
Setelah beberapa saat mengeksplorasi database, anda mendapatkan data seperti di bawah ini.

In [ ]:
# tabel product_categories
# kolom pertama adalah kode kategori
# kolom kedua adalah nama kategori
product_categories = [
    ["002", "aksesoris"],
    ["003", "blouse"],
    ["004", "atasan"],
    ["005", "bawahan"],
    ["006", "sepatu"],
    ["007", "tas"],
    ["008", "kosmetik"]
]

# tabel orders_products
# kolom pertama adalah kode order
# kolom kedua adalah kode produk
# kolom ketiga adalah kode kategori
# kolom keempat adalah harga barang
orders_products = [
    [  4564,     90,      "007", 195000],
    [  4564,    376,      "007", 199000],
    [  4572,    310,      "006", 180000],
    [  4572,     84,      "005", 140000],
    [  4990,    345,      "004", 140000],
    [  4990,    127,      "004", 135000],
    [  5238,    419,      "003", 125000],
    [  5533,    167,      "004", 130000],
    [  5596,    174,      "003", 120000],
    [  5596,    430,      "003", 110000],
    [  5732,    242,      "005", 130000],
    [  5732,     68,      "004", 120000],
    [  5822,    277,      "003", 140000],
    [  5827,    117,      "002",  50000],
    [  5968,    271,      "003", 115000],
    [  6095,     75,      "003",  95000],
    [  6217,    300,      "005", 125000],
    [  6217,    489,      "005", 130000],
    [  6341,    452,      "005", 155000],
    [  6440,    139,      "003", 150000],
    [  6440,    255,      "003", 130000],
    [  6591,    474,      "006", 175000],
    [  7030,    356,      "003", 100000],
    [  7030,    291,      "002",  65000],
    [  7101,     93,      "007", 205000],
    [  7126,    496,      "006", 195000],
    [  7126,     32,      "006", 200000],
    [  7214,    342,      "007", 200000],
    [  7214,    460,      "007", 210000],
    [  7428,    231,      "004", 120000],
    [  7428,    105,      "004", 135000]
]

Tugas anda berikutnya adalah menampilkan total revenue masing - masing kategori produk dengan menggunakan grafik batang.
Dimana sumbu x adalah nama masing - masing kategori, dan sumbu y adalah revenue.

In [ ]:
# Tuliskan script anda di sini
# hint: gunakan plt.bar untuk menampilkan grafik batang
# contoh: http://benalexkeen.com/bar-charts-in-matplotlib/

from collections import defaultdict
import matplotlib.pyplot as plt

Tampilkan juga informasi profit untuk masing - masing kategori dalam satu grafik yang sama dengan di atas.

Diketahui harga kulakan sebagai berikut:
- kategori blouse, atasan dan bawahan adalah 50% dari harga jual
- kategori aksesoris adalah 60% dari harga jual
- kategori sepatu dan tas adalah 45% dari harga jual

In [ ]:
# Tuliskan script anda di sini
# hint: gunakan stacked bar chart untuk menampilkan revenue dan profit dalam satu bar chart
# contoh: https://matplotlib.org/examples/pylab_examples/bar_stacked.html

**Great job**


- Menurut pengamatan anda terhadap grafik di atas, kategori apa yang paling laris ?
- Ada ide untuk menaikkan volume penjualan kategori yang tidak terlalu populer ?